<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDBBearerToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmZjdhNmU0MzJmZTljNTE4NWQ4ZDM0MThkNDU4MTI0MCIsIm5iZiI6MTU4NDgxNjQ0MC4xMzUsInN1YiI6IjVlNzY2MTM4MmZlMmZhMDAxMDE0Njc0YyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.6cqxWTG_LPPhTfYq9gOOQbS2YOdziRXGZ_MPURzmdNU</string>
</dict>
</plist>
